<%@ page import="holder.DurationValueConverter" %>
%{--${value.toDays()} d, ${value.minus(java.time.Duration.ofDays(value.toDays())).toHours()}:${value.minus(java.time.Duration.ofHours(value.toHours())).toMinutes()}--}%
%{--${value.toString()}--}%
${DurationValueConverter.format(value)}

