    <g:if test="${value}">
        <a href="${g.createLink(controller: 'booking', action: 'viewScan', id: value.getProperty('id'))}"><img src="${g.createLink(controller: 'booking', action: 'viewScan', id: value.getProperty('id'))}" width="${width ?: 80}"/></a>
    </g:if>
