<%--
  Created by IntelliJ IDEA.
  User: chris
  Date: 8/8/21
  Time: 10:22 pm
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title></title>
</head>

<body>
<table>
<g:each in="${emailTemplateCommandList}" var="et">
    <tr>
        <td>${et.perosn.name}</td>
        <td>${et.emailTemplate.subject}</td>
    </tr>
</g:each>
</table>
</body>
</html>
