<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="main"/>
    <title>Thankyou</title>
</head>

<body>
<div>
    Oh dear, you rejected the contract. Please contact the landlord to discuss the problem.
</div>s
<div>
    <a href="/">HOME</a>
</div>
</body>
</html>

