<%--
  Created by IntelliJ IDEA.
  User: chris
  Date: 7/12/2020
  Time: 2:36 pm
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="main"/>
    <title>People</title>
</head>

<body>
<g:render template="/guest/index" model="[title: 'USER HOMES']"/>

</body>
</html>
