<!DOCTYPE html>
<html>
    <head>
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'contract.label', default: 'Contract')}" />
        <title><g:message code="default.create.label" args="[entityName]" /></title>
    </head>
    <body>
        <a href="#create-contract" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
        <div class="nav" role="navigation">
            <ul>
                <li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
                <li><g:link class="list" action="index"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
            </ul>
        </div>
        <div id="create-contract" class="content scaffold-create" role="main">
            <h1><g:message code="default.create.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message" role="status">${flash.message}</div>
            </g:if>
            <g:hasErrors bean="${this.contract}">
            <ul class="errors" role="alert">
                <g:eachError bean="${this.contract}" var="error">
                <li <g:if test="${error in org.springframework.validation.FieldError}">data-field-id="${error.field}"</g:if>><g:message error="${error}"/></li>
                </g:eachError>
            </ul>
            </g:hasErrors>
            <g:form action="drawUp2" method="POST">
                <g:hiddenField name="booking.id" value="${contract.booking.id}"/>
                <g:hiddenField name="id" value="${contract.id}"/>
                <fieldset class="form">
                    <f:field bean="contract" property="checkIn"/>
                    <f:field bean="contract" property="moveIn"/>
                    <f:field bean="contract" property="checkOut"/>
                    <f:field bean="contract" property="rent"/>
                    <f:field bean="contract" property="bond"/>
                    <f:field bean="contract" property="rentPeriod"/>
                    <f:field bean="contract" property="useStdPayDates"/>
                    <f:field bean="contract" property="room"/>
                    <f:field bean="contract" property="carSpot"/>
                    <f:field bean="contract" property="notes"/>
                </fieldset>
                <fieldset class="buttons">
                    <g:submitButton name="create" class="save" value="${message(code: 'default.button.next.label', default: 'Next')}" />
                </fieldset>
            </g:form>
        </div>
    </body>
</html>
