/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require /webjars/jquery-datetimepicker/2.5.21/jquery.datetimepicker.css
*= require_self
*/

.fieldcontain textarea.largetext {
    height: 60em;
}

.fieldcontain textarea {
    width: 600px;
}

.fieldcontain input {
    width: 600px;
}

.fieldcontain select {
    width: 600px;
}

.contract {
    width: 600px;
}

.border-table td, th {
    border: 1px solid black;
}

.small-comment {
    width: 300px;
    height: 40px;
    margin: 10px;
}
