.calendar {
    border: 1px solid black;
}
.calendar td {
    border: 1px solid black;
}

.calendar p.today {
    color: red;
}
/*.calendar p.event {*/
/*    color: green;*/
/*}*/
.calendar p.today:before {
    content: "("
}
.calendar p.today:after {
    content: ")"
}
